/* //  //覆盖一些element-ui样式 覆盖css样式可在这里添加
// .el-upload {
//   input[type="file"] {
//     display: none !important;
//   }
// }

// .el-upload__input {
//   display: none;
// }

// //暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
// .el-dialog {
//   transform: none;
//   left: 0;
//   position: relative;
//   margin: 0 auto;
// }

// //element ui upload
// .upload-container {
//   .el-upload {
//     width: 100%;
//     .el-upload-dragger {
//       width: 100%;
//       height: 200px;
//     }
//   }
// } */

/* .el-table th {
  white-space: nowrap;
  overflow: hidden;
  -moz-user-select: none;
  user-select: none;
  background-color: rgb(22, 113, 189);
  text-align: left
} */

.el-main {
  padding: 0px 0px 0px 0px;
}

.el-aside {
  padding: 0px 0px 0px 0px;
}

.el-form-item.el-form-item--mini {
  margin-bottom: 0px;
}

/* .el-form--inline .el-form-item {
  margin-bottom: 0px;
} */

.el-tabs__header {
  margin: 0px 0px 0px 0px;
}

.el-tab-pane {
  height: 100%;
}

.el-table .globle-inserted-row {
  background: rgb(242, 248, 236);
}
.el-table .globle-removed-row {
  background: rgb(252, 240, 240);
}
.el-table .globle-modified-row {
  background: rgb(252, 246, 237);
}
